@media only screen and (min-width: 32.5em) {
    header, footer {
        border-radius: 6px;
    }

    header {
        grid-template-columns: auto 1fr;
        grid-gap: 20px;
        align-items: center;
    }

    body{
        margin: 1em auto;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }
}