body {
    background-color: snow;
    max-width: 600px;
    font-size: 16px;
}

h1 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

h2{
    font-size: 1rem;
}

header {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
    background-color:rgb(2, 22, 90);
    color: seashell;
    padding: 1rem;
}

main h2 {
    border-bottom: 1px solid rgb(54, 54, 54);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

main, footer {
    font-family: 'Oswald', sans-serif;
}

footer {
    background-color:rgb(2, 22, 90);
    color: seashell;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#lastupdated {
    font-style: italic;
    font-size: smaller;
}
