@media only screen and (min-width: 830px) {
    body {
        font-size: 1.25em;
    }
    /******
    Header
    ******/
    .logo-mobile {display: none;}

    .logo-center {display: block;}

    .logo {padding-left: 10px;}

    .navigation img {width: 100%;}

    button.menu {display: none;}

    header {grid-template-columns: repeat(3, 1fr);}

    .navigation,.navigation.hidden-left {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 1em;
        align-items: center;
        background-color: transparent;
        transition: none;
    }

    .navigation a {color: #590202;}

    .top-left {display: block;}

    .top-left img {
        max-width: 30px;
        padding: 0.25em;
    }

    .navigation li {display: block;}

    nav ul li.active a {
        background-color: transparent;
        border-bottom: 1px solid #BF705E;
        transition: .3s;
    }

    .navigation a:hover {
        color: #BF705E;
        background-color: transparent;
    }


    /*******
    Main
    *******/

    /*****
    Home
    *****/
    h1 {padding-left: 2em;}

    .logo-center .logo {min-width: 230px;}

    .spotlight {margin-right: 40%;}

    .spotlight img {
        justify-self: right;
        padding-right: 1.5em;
        padding-left: 1em;
    }

    .spotlight h3 {justify-self: center;}

    .spotlight h4, .spotlight p {text-align: left;}

    .spotlight h3 {padding-left: 2em;}

    .services {
        margin-left: 50%;
        right: 0;
    }

    .services h3 {text-align: left;}

    /*******
    Footer
    *******/

    /***********
	Reservation Page
	***********/
    form {min-width: 400px;}

    form fieldset {max-width: 20em;}


    /**********
    Thank you
    *********/
    .thank-you {
        max-width: fit-content;
        grid: 1fr 1fr / 1fr 1fr;
        margin: .5em;
        padding: .5em;
    }

    .thank-you img {
        grid-row: 1/3;
        max-width: 400px;
    }

    /********
    Services
    ********/
    .subpages {grid-column-gap: 40px;}

    /**********
    Suites
    **********/
    .suite-type {
        display: grid;
        grid-column-gap: 15px;
        padding: 1em;
        margin: 1em;
    }

    .suites-bed img {max-width: 900px;}

    .suite-info {grid-row: 1/2;}

    .contact-us {grid-row: 1/2;}
}